html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Trebuchet MS','Open Sans',arial,sans-serif;
}

.navbar {
    margin: 0px;      
}

.navbar-btn {
    color: #888;
    font-size: 17px;
    text-transform: uppercase;      
}

.jumbotron{
    background-image: url(/assets/img/black-lozenge.png);
    padding: 60px;
    margin: 0px;
}

.main-header{
    margin-top: 10px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.header-compass-img {
    display: inline-block;
    /*height: 100%;*/
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

.dark-color {
    background-color: #314657;
    color: #fff;
    border: none;
}       

.container {
    text-align: center;
    vertical-align: middle;
}

.jumbotron-sub{
    padding: 20px;
}      

.light-color {
    background-color: #8298AB;
    color: #314657;

}

.modal-header {
    border: none;
    text-align: center;
}

.modal-footer {
    border: none;
    text-align: center;
}