html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Trebuchet MS','Open Sans',arial,sans-serif;
    background-color: #f2f2f2;
}

.navbar {
    margin: 0px;      
}

.navbar-btn {
    color: #888;
    font-size: 17px;
    text-transform: uppercase;      
}

.jumbotron{
    text-align: center;
    vertical-align: middle;
    background-image: url(/assets/img/black-lozenge.png);
    padding: 60px;
    margin: 0px;
}

.main-header{
    margin-top: 10px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.header-compass-img {
    display: inline-block;
    /*height: 100%;*/
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

.dark-color {
    background-color: #314657;
    color: #fff;
    border: none;
}       


.jumbotron-sub{
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}      

.light-color {
    background-color: #8298AB;
    color: #314657;

}

.modal-header {
    border: none;
    text-align: center;
}

.modal-footer {
    border: none;
    text-align: center;
}

.step-view {
    margin-bottom: 20px;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    ! important;
    outline-style: none;
} 



.btn-round.btn-lg {
    width: 55px;
    height: 55px;
}

.navigation-view {
    text-align: center;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 20px;
}

.group-item {
    cursor: pointer;
}

.chart {
    display: inline-block;
}

.statistic-item-label {
    margin-top: 10px;
    text-align: center;
    border-bottom: 2px dotted #dadada;
}

.statistic-item {
    margin: 15px 0px;
    border-bottom: 2px solid #dadada;
    border-radius: 6px;
    border-bottom-color: rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
}

.jobs-table-header {
    padding: 0px;
} 

.jobs-table-header-left {
    border-radius: 4px 0px 0px 0px;
}

.jobs-table-header-right {
    border-radius: 0px 4px 0px 0px;
}

.jobs-table-header-center {
    border-radius: 0px;
}

.glyphicon-triangle-bottom, .glyphicon-triangle-top {
    float: right;
    margin-top: 2px;
}

.jobs-table-cell {
    border-left: 1px;
    border-right: 1px;
    border-bottom: 0px;
    border-top: 0px;
    border-color: #dadada;
    border-style: solid;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: transparent;
}

.jobs-table-row {
    cursor: pointer;
    background-color: #fff;
}

.jobs-table-row:hover {
    background-color: #dadada;
}

.sorted-column-header {
    padding-left: 26px;
}

.jobs-table .jobs-table-item:last-of-type .jobs-table-row .jobs-table-cell {
    border-bottom: 1px;
    border-color: #dadada;
    border-style: solid;
}

.json-table-item-label {
    margin: 3px;
}

.detalization-item {
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-bottom: 0px;
    border-top: 0px;
    border-color: #dadada;
    padding-top: 6px;
    padding-bottom: 6px;
}

.json-table-detalization .detalization-item:last-of-type {
    border-bottom: 1px;
    border-color: #dadada;
    border-style: solid;
}

.json-table-detalization .detalization-item:first-of-type {
    border-top: 1px;
    border-color: #dadada;
    border-style: solid;
}

.detalization-item.row {
    background-color: #fff;
}

.detalization-item-text {
    display: inline;
}

.detalization-item-link:hover {
    text-decoration: none;
}

.detalization-item-image {
    display: inline;
    height: 25px;
    width: 25px;
    margin-left: 3px;
    margin-right: 3px;
}

.arrow{
    
    width: 90px;  

    margin-top: 39px;
}

.arrow-left {
/* 	border-right: 60px solid #8298AB; */
}

.arrow-right {
/* 	border-left: 60px solid #8298AB; */
}


